<%- include("header") -%>

<p>Project pages are a work in progess...</p>

<a href="/">Home</a> > <a href="/#projects">Projects</a> > <%= project.name %>
<h1 id="title"><%= project.name %></h1>

<p id="description"><%= project.description %></p>
<hr>

<img class="image desktop" src="/images/<%= project.access %>1.png">
<img class="image desktop" src="/images/<%= project.access %>2.png">
<img class="image mobile" src="/images/<%= project.access %>3.png">



<%- include("footer") -%>