<%- include("header") -%>

<p>Project pages are a work in progess...</p>

<a href="/">Home</a>
<h1><%= project.name %></h1>

<p><%= project.description %></p>

<img class="image" src="/images/<%= project.access %>1.png">
<img class="image" src="/images/<%= project.access %>2.png">
<img class="image" src="/images/<%= project.access %>3.png">



<%- include("footer") -%>